In [1]:
import duckdb
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Companies").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/16 05:33:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Dim Companies

In [35]:
# Connect to the DuckDB database
duck_conn = duckdb.connect('/home/anhcu/Final_ETL_App/etl-app/datawarehouse.duckdb')
query = 'SELECT * FROM dim_companies'

# Fetch data from DuckDB and convert to Pandas DataFrame
pandas_df = duck_conn.execute(query).fetchdf()

duck_conn.close()

In [36]:
# Convert Pandas DataFrame to PySpark DataFrame
spark_df_companies = spark.createDataFrame(pandas_df)

# Show the Spark DataFrame
spark_df_companies.show()

24/06/15 15:56:10 WARN TaskSetManager: Stage 29 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
|company_id|        company_name|  company_time_stamp|company_ticket|company_is_delisted|    company_category|company_currency|    company_location|company_exchange_name|company_region_name|company_industry_name|company_industry_sector|company_sic_industry|  company_sic_sector|
+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
|         1|ADMIRALTY BANCORP...|2024-06-12 13:09:...|          AAAB|               true|Domestic Common S...|             USD|      Florida; U.S.A|               NASDAQ|      United States|     Banks - Regional|     Financial Services|State Commercial ...|Finance Insurance...|
|         2|ACCESS ANYTIME BA...|2024-06-12 13:09:...|          AABC|               true|Domestic Common S...|             USD|   New Mexico; U.S.A|               NASDAQ|      United States|     Banks - Regional|     Financial Services|Savings Instituti...|Finance Insurance...|
|         3|ASSET ACCEPTANCE ...|2024-06-12 13:09:...|          AACC|               true|Domestic Common S...|             USD|     Michigan; U.S.A|               NASDAQ|      United States|     Asset Management|     Financial Services|Short-Term Busine...|Finance Insurance...|
|         4|ACE CASH EXPRESS INC|2024-06-12 13:09:...|          AACE|               true|Domestic Common S...|             USD|        Texas; U.S.A|               NASDAQ|      United States|      Credit Services|     Financial Services|Functions Related...|Finance Insurance...|
|         5|ARMADA ACQUISITIO...|2024-06-12 13:09:...|          AACI|              false|Domestic Common S...|             USD| Pennsylvania; U.S.A|               NASDAQ|      United States|      Shell Companies|            Industrials|        Blank Checks|Finance Insurance...|
|         6|AUSTRALIA ACQUISI...|2024-06-12 13:09:...|         AACPF|               true|    ADR Common Stock|             USD|           Australia|               NASDAQ|      United States|      Shell Companies|            Industrials|        Blank Checks|Finance Insurance...|
|         7| AADI BIOSCIENCE INC|2024-06-12 13:09:...|          AADI|              false|Domestic Common S...|             USD|   California; U.S.A|               NASDAQ|      United States|        Biotechnology|             Healthcare|Pharmaceutical Pr...|       Manufacturing|
|         8|ADVANTAGE BANCORP...|2024-06-12 13:09:...|          AADV|               true|Domestic Common S...|             USD|    Wisconsin; U.S.A|               NASDAQ|      United States|     Banks - Regional|     Financial Services|Savings Instituti...|Finance Insurance...|
|         9|AFRICAN AGRICULTU...|2024-06-12 13:09:...|          AAGR|              false|Domestic Common S...|             USD|     New York; U.S.A|               NASDAQ|      United States|        Farm Products|     Consumer Defensive|Agricultural Prod...|Agriculture Fores...|
|        10|AIRTRAN HOLDINGS INC|2024-06-12 13:09:...|           AAI|               true|Domestic Common S...|             USD|      Florida; U.S.A|               NASDAQ|      United States|             Airlines|            Industrials|Air Transportatio...|Transportation Co...|
|        11|ALABAMA AIRCRAFT ...|2024-06-12 13:09:...|         AAIIQ|               true|Domestic Common S...|             USD|      Alabama; U.S.A|               NASDAQ|      United States|  Aerospace & Defense|            Industrials|            Aircraft|       Manufacturing|
|        12|       AAIPHARMA INC|2024-06-12 13:09:...|        AAIIQ1|               true|Domestic Common S...|             USD|North Carolina; U...|               NASDAQ|      United States| Diagnostics & Res...|             Healthcare|Services-Testing ...|            Services|
|        13|AMERICAN AIRLINES...|2024-06-12 13:09:...|           AAL|              false|Domestic Common S...|             USD|        Texas; U.S.A|               NASDAQ|      United States|             Airlines|            Industrials|Air Transportatio...|Transportation Co...|
|        14|ATLANTIC AMERICAN...|2024-06-12 13:09:...|          AAME|              false|Domestic Common S...|             USD|      Georgia; U.S.A|               NASDAQ|      United States|     Insurance - Life|     Financial Services|      Life Insurance|Finance Insurance...|
|        15|ABIGAIL ADAMS NAT...|2024-06-12 13:09:...|          AANB|               true|Domestic Common S...|             USD|District Of Colum...|               NASDAQ|      United States|     Banks - Regional|     Financial Services|National Commerci...|Finance Insurance...|
|        16|APPLIED OPTOELECT...|2024-06-12 13:09:...|          AAOI|              false|Domestic Common S...|             USD|        Texas; U.S.A|               NASDAQ|      United States| Communication Equ...|             Technology|Semiconductors & ...|       Manufacturing|
|        17|            AAON INC|2024-06-12 13:09:...|          AAON|              false|Domestic Common S...|             USD|     Oklahoma; U.S.A|               NASDAQ|      United States| Building Products...|        Basic Materials|Air-Cond & Warm A...|       Manufacturing|
|        18|ATLANTIC ALLIANCE...|2024-06-12 13:09:...|          AAPC|               true|Domestic Common S...|             USD|     New York; U.S.A|               NASDAQ|      United States|             Gambling|      Consumer Cyclical|Services-Miscella...|            Services|
|        19|           APPLE INC|2024-06-12 13:09:...|          AAPL|              false|Domestic Common S...|             USD|   California; U.S.A|               NASDAQ|      United States| Consumer Electronics|             Technology|Electronic Computers|       Manufacturing|
|        20|         ALCIDE CORP|2024-06-12 13:09:...|          ALCD|               true|Domestic Common S...|             USD|   Washington; U.S.A|               NASDAQ|      United States|  Agricultural Inputs|        Basic Materials|Agricultural Chem...|       Manufacturing|
+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
only showing top 20 rows

In [37]:
from pyspark.sql.functions import col, count

In [38]:
# Thống kê số lượng công ty ở từng sàn giao dịch
print("Thống kê số lượng công ty ở từng sàn giao dịch:")
spark_df_companies.groupBy("company_exchange_name").agg(count("*").alias("count")).show()

Thống kê số lượng công ty ở từng sàn giao dịch:

24/06/15 15:56:14 WARN TaskSetManager: Stage 30 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+---------------------+-----+
|company_exchange_name|count|
+---------------------+-----+
|                 NYSE|39297|
|               NASDAQ|78894|
+---------------------+-----+

In [39]:
# Thống kê số lượng công ty đã và chưa bị delisted
print("Thống kê số lượng công ty đã và chưa bị delisted:")
spark_df_companies.groupBy("company_is_delisted").agg(count("*").alias("count")).show()

Thống kê số lượng công ty đã và chưa bị delisted:

24/06/15 15:56:16 WARN TaskSetManager: Stage 33 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+-------------------+-----+
|company_is_delisted|count|
+-------------------+-----+
|               true|79107|
|              false|39084|
+-------------------+-----+

In [40]:
# Thống kê số lượng công ty theo khu vực
print("Thống kê số lượng công ty theo khu vực:")
spark_df_companies.groupBy("company_location").agg(count("*").alias("count")).orderBy(col("count").desc()).show()

Thống kê số lượng công ty theo khu vực:

24/06/15 15:56:19 WARN TaskSetManager: Stage 36 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+-----+
|    company_location|count|
+--------------------+-----+
|   California; U.S.A|18708|
|     New York; U.S.A|13425|
|        Texas; U.S.A| 8883|
|Massachusetts; U.S.A| 5664|
|      Florida; U.S.A| 5130|
| Pennsylvania; U.S.A| 3912|
|     Illinois; U.S.A| 3750|
|   New Jersey; U.S.A| 3690|
|               China| 3150|
|      Georgia; U.S.A| 2625|
|     Virginia; U.S.A| 2592|
|     Colorado; U.S.A| 2580|
|         Ohio; U.S.A| 2340|
|  Connecticut; U.S.A| 2208|
|    Minnesota; U.S.A| 1992|
|North Carolina; U...| 1902|
|     Maryland; U.S.A| 1884|
|      United Kingdom| 1638|
|   Washington; U.S.A| 1620|
|     Ontario; Canada| 1422|
+--------------------+-----+
only showing top 20 rows

In [41]:
# Thống kê số lượng công ty theo ngành công nghiệp
print("Thống kê số lượng công ty theo ngành công nghiệp:")
spark_df_companies.groupBy("company_industry_name").agg(count("*").alias("count")).orderBy(col("count").desc()).show()

Thống kê số lượng công ty theo ngành công nghiệp:

24/06/15 15:56:22 WARN TaskSetManager: Stage 39 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+---------------------+-----+
|company_industry_name|count|
+---------------------+-----+
|      Shell Companies|10797|
| Software - Applic...| 9774|
|        Biotechnology| 9282|
|     Banks - Regional| 9270|
|      Medical Devices| 3000|
|     Telecom Services| 2973|
| Communication Equ...| 2394|
|        Oil & Gas E&P| 2196|
|      REIT - Mortgage| 1932|
|       Semiconductors| 1698|
|     Asset Management| 1650|
| Software - Infras...| 1596|
|     Specialty Retail| 1404|
| Medical Care Faci...| 1368|
| Specialty Industr...| 1302|
|    Computer Hardware| 1260|
|  Oil & Gas Midstream| 1218|
|        Entertainment| 1200|
| Internet Content ...| 1194|
|       Packaged Foods| 1194|
+---------------------+-----+
only showing top 20 rows

In [42]:
# Thống kê số lượng công ty theo ngành công nghiệp sector
sector_stats = spark_df_companies.groupBy("company_industry_sector").agg(count("*").alias("count")).orderBy(col("count").desc())
sector_stats.show()

24/06/15 15:56:24 WARN TaskSetManager: Stage 42 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+-----------------------+-----+
|company_industry_sector|count|
+-----------------------+-----+
|            Industrials|22113|
|             Technology|20346|
|             Healthcare|17934|
|     Financial Services|17322|
|      Consumer Cyclical|11412|
|   Communication Ser...| 6699|
|            Real Estate| 5910|
|                 Energy| 5067|
|        Basic Materials| 4902|
|     Consumer Defensive| 4284|
|              Utilities| 2202|
+-----------------------+-----+

In [43]:
# Thống kê số lượng công ty theo loại hình công ty
category_stats = spark_df_companies.groupBy("company_category").agg(count("*").alias("count")).orderBy(col("count").desc())
category_stats.show()

24/06/15 15:56:27 WARN TaskSetManager: Stage 45 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+-----+
|    company_category|count|
+--------------------+-----+
|Domestic Common S...|73089|
|Domestic Common S...|10854|
|    ADR Common Stock| 8892|
|Domestic Common S...| 7776|
|Domestic Common S...| 6168|
|Domestic Preferre...| 6150|
|Canadian Common S...| 1482|
|ADR Common Stock ...| 1326|
|ADR Common Stock ...| 1074|
|ADR Common Stock ...|  732|
| ADR Preferred Stock|  534|
|Canadian Common S...|   60|
|Canadian Common S...|   24|
|Canadian Preferre...|   18|
|Canadian Common S...|   12|
+--------------------+-----+

## Fact Candles

In [3]:
import pandas as pd
from datetime import datetime
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, DoubleType, BooleanType, TimestampType
from pyspark.sql.functions import count
from pyspark.sql.functions import avg
from pyspark.sql.functions import col, expr

In [8]:
# Connect to the DuckDB database
duck_conn = duckdb.connect('/home/anhcu/Final_ETL_App/etl-app/datawarehouse.duckdb')
query = 'SELECT * FROM fact_candles'

# Fetch data from DuckDB and convert to Pandas DataFrame
pandas_df = duck_conn.execute(query).fetchdf()

duck_conn.close()

In [9]:
pandas_df

,candle_id,candle_company_id,candle_volume,candle_volume_weighted,candle_open,candle_close,candle_high,candle_low,candle_time_stamp,candle_num_of_trades,candle_is_otc,candles_time_id
0,48735,22127,29174,48.1472,48.270,48.300,48.300,47.7500,1718136000000,1819,NaN,1
1,48736,26716,1288577,37.9410,37.880,38.090,38.170,37.5000,1718136000000,18317,NaN,1
2,48737,36670,706413,44.6400,45.550,44.730,45.555,44.2700,1718136000000,11110,NaN,1
3,48738,30065,84449,0.7683,0.800,0.751,0.810,0.7401,1718136000000,290,NaN,1
4,48739,33016,8024,209.2152,210.270,208.950,210.270,208.9500,1718136000000,1330,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
24362,73097,104194,102,10.7613,10.760,10.760,10.760,10.7600,1718395200000,3,NaN,4
24363,73098,102886,561,16.4572,16.490,16.490,16.490,16.4900,1718395200000,12,NaN,4
24364,73099,102735,2100,29.9410,30.000,30.000,30.000,30.0000,1718395200000,2,True,4
24365,73100,110274,100,10.5700,10.570,10.570,10.570,10.5700,1718395200000,1,NaN,4
24366,73101,115007,1525,11.3004,11.305,11.305,11.305,11.3050,1718395200000,3,NaN,4

In [25]:
# Loại bỏ các cột không cần thiết
pandas_df.drop(columns=['candles_time_id'], inplace=True)

# Chuyển đổi kiểu dữ liệu
pandas_df['candle_is_otc'] = pandas_df['candle_is_otc'].fillna(False).astype(bool)
pandas_df['candle_time_stamp'] = pd.to_datetime(pandas_df['candle_time_stamp'], unit='ms')

pandas_df

/tmp/ipykernel_49482/1880719106.py:6: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  pandas_df['candle_time_stamp'] = pd.to_datetime(pandas_df['candle_time_stamp'], unit='ms')

,candle_id,candle_company_id,candle_volume,candle_volume_weighted,candle_open,candle_close,candle_high,candle_low,candle_time_stamp,candle_num_of_trades,candle_is_otc,candle_percent_change_open_close,candle_percent_change_high_low
0,24368,22127,29174,48.1472,48.270,48.300,48.300,47.7500,2024-06-11 19:59:07.264,1819,False,0.062150,1.151832
1,24369,26716,1288577,37.9410,37.880,38.090,38.170,37.5000,2024-06-11 19:59:07.264,18317,False,0.554382,1.786667
2,24370,36670,706413,44.6400,45.550,44.730,45.555,44.2700,2024-06-11 19:59:07.264,11110,False,-1.800220,2.902643
3,24371,30065,84449,0.7683,0.800,0.751,0.810,0.7401,2024-06-11 19:59:07.264,290,False,-6.125000,9.444670
4,24372,33016,8024,209.2152,210.270,208.950,210.270,208.9500,2024-06-11 19:59:07.264,1330,False,-0.627764,0.631730
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24362,48730,104194,102,10.7613,10.760,10.760,10.760,10.7600,2024-06-14 20:00:07.680,3,False,0.000000,0.000000
24363,48731,102886,561,16.4572,16.490,16.490,16.490,16.4900,2024-06-14 20:00:07.680,12,False,0.000000,0.000000
24364,48732,102735,2100,29.9410,30.000,30.000,30.000,30.0000,2024-06-14 20:00:07.680,2,True,0.000000,0.000000
24365,48733,110274,100,10.5700,10.570,10.570,10.570,10.5700,2024-06-14 20:00:07.680,1,False,0.000000,0.000000
24366,48734,115007,1525,11.3004,11.305,11.305,11.305,11.3050,2024-06-14 20:00:07.680,3,False,0.000000,0.000000

In [26]:
# Xác định schema
schema = StructType([
    StructField("candle_id", IntegerType(), True),
    StructField("candle_company_id", IntegerType(), True),
    StructField("candle_volume", LongType(), True),
    StructField("candle_volume_weighted", DoubleType(), True),
    StructField("candle_open", DoubleType(), True),
    StructField("candle_close", DoubleType(), True),
    StructField("candle_high", DoubleType(), True),
    StructField("candle_low", DoubleType(), True),
    StructField("candle_time_stamp", TimestampType(), True),
    StructField("candle_num_of_trades", IntegerType(), True),
    StructField("candle_is_otc", BooleanType(), True),
    StructField("candle_percent_change_open_close", DoubleType(), True),
    StructField("candle_percent_change_high_low", DoubleType(), True)
])

# Chuyển đổi Pandas DataFrame thành PySpark DataFrame với schema
spark_df_candles = spark.createDataFrame(pandas_df, schema=schema)

# Hiển thị một vài hàng của DataFrame
spark_df_candles.show()

+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+--------------------------------+------------------------------+
|candle_id|candle_company_id|candle_volume|candle_volume_weighted|candle_open|candle_close|candle_high|candle_low|   candle_time_stamp|candle_num_of_trades|candle_is_otc|candle_percent_change_open_close|candle_percent_change_high_low|
+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+--------------------------------+------------------------------+
|    24368|            22127|        29174|               48.1472|      48.27|        48.3|       48.3|     47.75|2024-06-11 19:59:...|                1819|        false|             0.06215040397761349|            1.1518324607329784|
|    24369|            26716|      1288577|                37.941|      37.88|       38.09|      38.17|      37.5|2024-06-11 19:59:...|               18317|        false|              0.5543822597676896|             1.786666666666671|
|    24370|            36670|       706413|                 44.64|      45.55|       44.73|     45.555|     44.27|2024-06-11 19:59:...|               11110|        false|             -1.8002195389681674|             2.902642873277607|
|    24371|            30065|        84449|                0.7683|        0.8|       0.751|       0.81|    0.7401|2024-06-11 19:59:...|                 290|        false|              -6.125000000000005|              9.44466963923795|
|    24372|            33016|         8024|              209.2152|     210.27|      208.95|     210.27|    208.95|2024-06-11 19:59:...|                1330|        false|             -0.6277643030389601|            0.6317300789662702|
|    24373|            20081|        14640|               25.8061|       26.2|       25.77|       26.2|     25.68|2024-06-11 19:59:...|                 447|        false|             -1.6412213740458006|             2.024922118380061|
|    24374|            32184|      1103423|               20.1832|      20.41|       20.12|      20.49|     20.08|2024-06-11 19:59:...|                9095|        false|               -1.42087212150906|              2.04183266932271|
|    24375|            24951|       778282|                0.3015|        0.3|      0.3047|     0.3091|    0.2916|2024-06-11 19:59:...|                2042|        false|              1.5666666666666793|             6.001371742112468|
|    24376|            29366|        10097|               12.1454|      12.07|       12.07|       12.2|     12.07|2024-06-11 19:59:...|                 277|        false|                             0.0|            1.0770505385252611|
|    24377|            25811|       488329|                 4.709|       5.27|        4.75|        5.5|      4.36|2024-06-11 19:59:...|                3490|        false|              -9.867172675521815|             26.14678899082568|
|    24378|            31699|      1034155|               20.8825|      20.72|       20.85|      21.06|     20.68|2024-06-11 19:59:...|               11343|        false|              0.6274131274131398|            1.8375241779497051|
|    24379|            32872|      2032195|               13.4241|       13.4|       13.42|      13.53|      13.3|2024-06-11 19:59:...|               15514|        false|              0.1492537313432804|            1.7293233082706667|
|    24380|            29556|        88488|                7.4035|       7.55|        7.16|       7.85|      7.11|2024-06-11 19:59:...|                9082|        false|               -5.16556291390728|            10.407876230661032|
|    24381|            34720|       350180|              127.7951|     129.53|      127.29|     129.82|    127.22|2024-06-11 19:59:...|                9624|        false|             -1.7293291129468036|            2.0437038201540596|
|    24382|            34199|       238289|               58.0929|      58.71|        57.7|      58.86|     57.67|2024-06-11 19:59:...|                5611|        false|             -1.7203202180207766|            2.0634645396219833|
|    24383|            37645|      4417439|               51.0832|      52.95|       50.81|      52.98|     50.16|2024-06-11 19:59:...|               46233|        false|              -4.041548630783759|             5.622009569377991|
|    24384|            27292|      6841341|                3.5575|       3.57|        3.58|       3.63|      3.51|2024-06-11 19:59:...|               28980|        false|              0.2801120448179336|            3.4188034188034218|
|    24385|            37814|        23092|                8.7411|       8.55|         8.8|       8.86|      8.55|2024-06-11 19:59:...|                 214|        false|               2.923976608187134|            3.6257309941520313|
|    24386|            33256|      2170218|               67.7659|       68.3|       67.86|       68.3|      67.5|2024-06-11 19:59:...|               30342|        false|             -0.6442166910688107|             1.185185185185181|
|    24387|            29122|      1109082|              277.1059|      273.0|       278.3|     279.05|     271.4|2024-06-11 19:59:...|               21673|        false|              1.9413919413919456|            2.8187177597641986|
+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+--------------------------------+------------------------------+
only showing top 20 rows

24/06/16 03:27:25 WARN TaskSetManager: Stage 1 contains a task of very large size (1077 KiB). The maximum recommended task size is 1000 KiB.

In [52]:
# Thống kê số lượng giao dịch
trade_stats = spark_df_candles.groupBy("candle_is_otc").agg(count("*").alias("count"))
trade_stats.show()

+-------------+-----+
|candle_is_otc|count|
+-------------+-----+
|         true| 1423|
|        false|22944|
+-------------+-----+

In [54]:
# Thống kê khối lượng giao dịch trung bình theo công ty
volume_avg_stats = spark_df_candles.groupBy("candle_company_id").agg(avg("candle_volume").alias("avg_volume"))
volume_avg_stats.show()

+-----------------+----------+
|candle_company_id|avg_volume|
+-----------------+----------+
|            26087|  342077.0|
|            37111|  423012.0|
|            20497|  544030.0|
|            31236|   24725.0|
|            35820|  497481.0|
|            36131| 1347812.0|
|            29993|   10163.0|
|            29719|   93199.0|
|            29601|  709573.0|
|            38422|   30176.0|
|            35689|  273380.0|
|            19984|  389931.0|
|            20135|   79299.0|
|            38311|  457856.0|
|            35071|  360757.0|
|            35947|  713053.0|
|            36538| 1359825.0|
|            20382|  552118.0|
|            29228|  535699.0|
|            29894| 2045242.0|
+-----------------+----------+
only showing top 20 rows

In [55]:
# Thống kê giá mở cửa trung bình theo công ty
open_avg_stats = spark_df_candles.groupBy("candle_company_id").agg(avg("candle_open").alias("avg_open"))
open_avg_stats.show()

+-----------------+--------+
|candle_company_id|avg_open|
+-----------------+--------+
|            26087|    2.47|
|            37111|  161.78|
|            20497|     1.1|
|            31236|   0.065|
|            35820|   45.08|
|            36131|    44.0|
|            29993|     7.3|
|            29719|   25.11|
|            29601|    7.87|
|            38422|    4.66|
|            35689|    8.02|
|            19984|   17.16|
|            20135|    3.24|
|            38311|   25.11|
|            35071|   58.52|
|            35947|   78.32|
|            36538|   77.52|
|            20382|   31.95|
|            29228|  169.61|
|            29894|   92.79|
+-----------------+--------+
only showing top 20 rows

## Mix

In [56]:
# Kết hợp hai bảng dựa trên company_id và candle_company_id
joined_df = spark_df_candles.join(spark_df_companies, spark_df_candles.candle_company_id == spark_df_companies.company_id)

# Hiển thị một vài hàng của DataFrame kết hợp
joined_df.show()

24/06/15 16:04:39 WARN TaskSetManager: Stage 59 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
|candle_id|candle_company_id|candle_volume|candle_volume_weighted|candle_open|candle_close|candle_high|candle_low|   candle_time_stamp|candle_num_of_trades|candle_is_otc|company_id|        company_name|  company_time_stamp|company_ticket|company_is_delisted|    company_category|company_currency|    company_location|company_exchange_name|company_region_name|company_industry_name|company_industry_sector|company_sic_industry|  company_sic_sector|
+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
|     4559|            19907|      1626983|                5.0057|        5.0|        5.12|       5.12|     4.905|2024-06-11 19:59:...|               13322|        false|     19907| ADTRAN HOLDINGS INC|2024-06-12 13:11:...|          ADTN|              false|Domestic Common S...|             USD|      Alabama; U.S.A|               NASDAQ|      United States| Communication Equ...|             Technology|Telephone & Teleg...|       Manufacturing|
|     2942|            19979|       611719|                3.2926|        3.4|         3.3|     3.4231|      3.17|2024-06-11 19:59:...|                3330|        false|     19979|AGBA GROUP HOLDIN...|2024-06-12 13:11:...|          AGBA|              false|Domestic Common S...|             USD|           Hong Kong|               NASDAQ|      United States|      Capital Markets|     Financial Services|   Investment Advice|Finance Insurance...|
|     4433|            21965|       170108|                2.5351|       2.52|        2.52|       2.57|      2.51|2024-06-11 19:59:...|                1190|        false|     21965|CERAGON NETWORKS LTD|2024-06-12 13:11:...|          CRNT|              false|    ADR Common Stock|             USD|              Israel|               NASDAQ|      United States| Communication Equ...|             Technology|Radio & Tv Broadc...|       Manufacturing|
|     1392|            22129|       293109|              113.2049|     114.26|      113.03|     114.82|    112.58|2024-06-11 19:59:...|                9216|        false|     22129|COMMVAULT SYSTEMS...|2024-06-12 13:11:...|          CVLT|              false|Domestic Common S...|             USD|   New Jersey; U.S.A|               NASDAQ|      United States| Software - Applic...|             Technology|Services-Prepacka...|            Services|
|     4574|            22165|       461453|              247.8502|      251.0|      247.25|   252.1209|  245.0137|2024-06-11 19:59:...|               11941|        false|     22165|CYBERARK SOFTWARE...|2024-06-12 13:11:...|          CYBR|              false|    ADR Common Stock|             USD|              Israel|               NASDAQ|      United States| Software - Infras...|             Technology|Services-Prepacka...|            Services|
|     4186|            22429|       160346|               90.1179|       89.2|       90.69|      90.86|     89.17|2024-06-11 19:59:...|                4679|        false|     22429| DORMAN PRODUCTS INC|2024-06-12 13:11:...|          DORM|              false|Domestic Common S...|             USD| Pennsylvania; U.S.A|               NASDAQ|      United States|           Auto Parts|      Consumer Cyclical|Motor Vehicle Par...|       Manufacturing|
|     3916|            23116|       374536|               20.7936|      20.81|       20.81|      20.91|     20.59|2024-06-11 19:59:...|                7520|        false|     23116|FIRST FINANCIAL B...|2024-06-12 13:11:...|          FFBC|              false|Domestic Common S...|             USD|         Ohio; U.S.A|               NASDAQ|      United States|     Banks - Regional|     Financial Services|National Commerci...|Finance Insurance...|
|     4734|            25207|       689066|               80.5955|       79.3|       81.07|      81.43|     79.27|2024-06-11 19:59:...|               12897|        false|     25207|LANTHEUS HOLDINGS...|2024-06-12 13:11:...|          LNTH|              false|Domestic Common S...|             USD|Massachusetts; U.S.A|               NASDAQ|      United States| Drug Manufacturer...|             Healthcare|In Vitro & In Viv...|       Manufacturing|
|     1173|            27255|       110126|               81.3314|      81.61|       81.69|      81.71|     80.41|2024-06-11 19:59:...|                5027|        false|     27255|      PRICESMART INC|2024-06-12 13:11:...|          PSMT|              false|Domestic Common S...|             USD|   California; U.S.A|               NASDAQ|      United States|      Discount Stores|     Consumer Defensive|Retail-Variety St...|        Retail Trade|
|     2418|            27563|        58148|               25.6529|      25.81|       25.95|      26.19|     25.05|2024-06-11 19:59:...|                1919|        false|     27563| RENT THE RUNWAY INC|2024-06-12 13:11:...|          RENT|              false|Domestic Common S...|             USD|     New York; U.S.A|               NASDAQ|      United States|       Apparel Retail|      Consumer Cyclical|Retail-Retail Sto...|        Retail Trade|
|     3003|            28078|       277759|               11.5987|      12.05|       11.47|    12.0877|      11.4|2024-06-11 19:59:...|                3091|        false|     28078|SEANERGY MARITIME...|2024-06-12 13:11:...|          SHIP|              false|ADR Common Stock ...|             USD|              Greece|               NASDAQ|      United States|      Marine Shipping|            Industrials|Deep Sea Foreign ...|Transportation Co...|
|     2199|            29841|       164329|                0.6169|      0.618|      0.6114|     0.6383|     0.595|2024-06-11 19:59:...|                 504|        false|     29841|       WORKSPORT LTD|2024-06-12 13:11:...|          WKSP|              false|Domestic Common S...|             USD|     Ontario; Canada|               NASDAQ|      United States|           Auto Parts|      Consumer Cyclical|Motor Vehicle Par...|       Manufacturing|
|     1613|            30421|        75691|               39.8543|      39.79|        39.8|       40.1|     39.69|2024-06-11 19:59:...|                3263|        false|     30421|ATLANTA BRAVES HO...|2024-06-12 13:11:...|         BATRK|              false|Domestic Common S...|             USD|     Colorado; U.S.A|               NASDAQ|      United States|        Entertainment|   Communication Ser...|Services-Amusemen...|            Services|
|     5292|            30562|          903|               0.01993|     0.0203|    0.020301|   0.020301|    0.0203|2024-06-11 19:59:...|                   7|        false|     30562|     BTC DIGITAL LTD|2024-06-12 13:11:...|         BTCTW|              false|ADR Common Stock ...|             USD|               China|               NASDAQ|      United States| Education & Train...|     Consumer Defensive|Services-Educatio...|            Services|
|     1524|            30928|        41198|              0.009745|     0.0095|     0.00875|      0.011|   0.00875|2024-06-11 19:59:...|                  19|         true|     30928|          NEXTEGO NV|2024-06-12 13:11:...|         EGOXF|               true|    ADR Common Stock|             USD|             Germany|               NASDAQ|      United States|   Auto Manufacturers|      Consumer Cyclical|Motor Vehicles & ...|       Manufacturing|
|     5238|            31156|        13681|                1.9913|     1.9924|        2.06|       2.08|      1.95|2024-06-11 19:59:...|                  80|        false|     31156|CYTOMED THERAPEUT...|2024-06-12 13:11:...|          GDTC|              false|    ADR Common Stock|             USD|           Singapore|               NASDAQ|      United States|        Biotechnology|             Healthcare|Pharmaceutical Pr...|       Manufacturing|
|     5089|            31762|        30299|                0.1014|     0.1181|         0.1|     0.1216|       0.1|2024-06-11 19:59:...|                  75|        false|     31762|MOUNTAIN CREST AC...|2024-06-12 13:11:...|         MCAGR|              false|Domestic Common S...|             USD|     New York; U.S.A|               NASDAQ|      United States|      Shell Companies|            Industrials|        Blank Checks|Finance Insurance...|
|     3050|            32954|       475070|               11.5696|      11.66|       11.55|      11.68|     11.45|2024-06-11 19:59:...|                4576|        false|     32954|         PLAYAGS INC|2024-06-12 13:11:...|           AGS|              false|Domestic Common S...|             USD|       Nevada; U.S.A|                 NYSE|      United States|             Gambling|      Consumer Cyclical|Miscellaneous Man...|       Manufacturing|
|     3980|            33013|      7756353|                3.9082|       3.95|        3.89|       3.98|      3.83|2024-06-11 19:59:...|               25902|        false|     33013|ARCADIUM LITHIUM PLC|2024-06-12 13:11:...|          ALTM|              false|Domestic Common S...|             USD| Pennsylvania; U.S.A|                 NYSE|      United States|  Specialty Chemicals|        Basic Materials|Chemicals & Allie...|       Manufacturing|
|     2101|            33760|      1285372|               26.1043|      26.09|       26.06|      26.26|     25.77|2024-06-11 19:59:...|               16970|        false|     33760|  CNX RESOURCES CORP|2024-06-12 13:11:...|           CNX|              false|Domestic Common S...|             USD| Pennsylvania; U.S.A|                 NYSE|      United States|        Oil & Gas E&P|                 Energy|Crude Petroleum &...|              Mining|
+---------+-----------------+-------------+----------------------+-----------+------------+-----------+----------+--------------------+--------------------+-------------+----------+--------------------+--------------------+--------------+-------------------+--------------------+----------------+--------------------+---------------------+-------------------+---------------------+-----------------------+--------------------+--------------------+
only showing top 20 rows

In [57]:
from pyspark.sql.functions import avg

# Thống kê khối lượng giao dịch trung bình theo ngành công nghiệp
volume_avg_industry_stats = joined_df.groupBy("company_industry_name").agg(avg("candle_volume").alias("avg_volume")).orderBy("avg_volume", ascending=False)
volume_avg_industry_stats.show()

24/06/15 16:05:02 WARN TaskSetManager: Stage 65 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+---------------------+------------------+
|company_industry_name|        avg_volume|
+---------------------+------------------+
|   Auto Manufacturers|  9333003.97044335|
| Consumer Electronics| 7793233.613333333|
|       Semiconductors| 6382139.212624584|
|               Silver|         5820558.5|
|  Banks - Diversified|         5676967.6|
| Drug Manufacturer...|  4567538.97368421|
|  Beverages - Brewers| 4463199.230769231|
| Oil & Gas Integrated| 4434751.106666666|
|  Aerospace & Defense| 4215876.419161676|
|             Airlines|4039972.3863636362|
|      Capital Markets| 3946098.194174757|
|     Specialty Retail| 3552747.336492891|
|    Resorts & Casinos|3384854.0632911394|
|        Entertainment|3353888.1428571427|
|                 Gold| 3314450.192982456|
|              Tobacco| 3297863.076923077|
|      Travel Services| 3284076.289473684|
|           Publishing|3082967.1578947366|
|               Copper|         2860272.2|
|      Internet Retail| 2783201.552631579|
+---------------------+------------------+
only showing top 20 rows

In [58]:
# Thống kê giá đóng cửa trung bình theo thời gian
close_avg_region_stats = joined_df.groupBy("candle_time_stamp").agg(avg("candle_close").alias("avg_close")).orderBy("avg_close", ascending=False)
close_avg_region_stats.show()

24/06/15 16:06:06 WARN TaskSetManager: Stage 74 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+--------------------+------------------+
|   candle_time_stamp|         avg_close|
+--------------------+------------------+
|2024-06-12 20:00:...|146.70842157243322|
|2024-06-11 19:59:...| 144.6122471598025|
|2024-06-14 20:00:...|143.70532500131725|
|2024-06-13 20:00:...|143.40294943669167|
+--------------------+------------------+

In [59]:
# Thống kê số lượng công ty theo ngành công nghiệp và sàn giao dịch
company_count_industry_exchange_stats = joined_df.groupBy("company_industry_name", "company_exchange_name").agg(count("company_id").alias("num_companies")).orderBy("num_companies", ascending=False)
company_count_industry_exchange_stats.show()

24/06/15 16:06:34 WARN TaskSetManager: Stage 83 contains a task of very large size (12663 KiB). The maximum recommended task size is 1000 KiB.

+---------------------+---------------------+-------------+
|company_industry_name|company_exchange_name|num_companies|
+---------------------+---------------------+-------------+
|        Biotechnology|               NASDAQ|         2865|
|     Banks - Regional|               NASDAQ|         1303|
| Software - Applic...|               NASDAQ|          842|
|      Shell Companies|               NASDAQ|          835|
|      Medical Devices|               NASDAQ|          558|
| Software - Infras...|               NASDAQ|          514|
|     Banks - Regional|                 NYSE|          331|
| Drug Manufacturer...|               NASDAQ|          326|
| Software - Applic...|                 NYSE|          320|
| Health Informatio...|               NASDAQ|          265|
|       Semiconductors|               NASDAQ|          249|
| Communication Equ...|               NASDAQ|          245|
|     Asset Management|               NASDAQ|          244|
|      Capital Markets|               NASDAQ|          241|
| Internet Content ...|               NASDAQ|          231|
| Diagnostics & Res...|               NASDAQ|          224|
|        Oil & Gas E&P|                 NYSE|          218|
| Specialty Industr...|                 NYSE|          208|
|       Packaged Foods|               NASDAQ|          203|
|     Asset Management|                 NYSE|          194|
+---------------------+---------------------+-------------+
only showing top 20 rows